<form [formGroup]="mcqForm" class="ps-3">
    <p class="question">{{question.Question}}</p>
    <div formArrayName="options" *ngFor="let o of optionsForm.controls;let i=index">
        <div class="form-check">
            <input type="radio" [id]="'radio'+i" class="form-check-input poppins" [value]="o.value" (change)="onChange(i)" [name]="'options'+question.ID" [checked]="mcqForm.controls['answer'].value === i">{{o.value}}
        </div>
    </div>
    <div class="w-100 d-flex" [class]="id === 0 ? 'justify-content-end':'justify-content-between'">
        <button mat-button class="btn confirm-button" [hidden]="id === 0" (click)="prev()">Prev</button>
        <button mat-button class="btn confirm-button" [hidden]="id === (questionsLength - 1)" [disabled]="! this.mcqForm.valid" (click)="next()">Next</button>
        <button mat-button class="btn confirm-button" [hidden]="id !== (questionsLength - 1)" [disabled]="! this.mcqForm.valid"
            (click)="submit()">Submit</button>
    </div>
</form>
