<form class="w-100 container-fluid" [formGroup]="form" (ngSubmit)="submit(form.value)">
    <div class="row">
        <div class="col">
            <mat-chip-grid #chipGrid aria-label="Students selection">
                <mat-chip-row *ngFor="let s of students" (removed)="remove(s)">
                    {{s}}
                    <button matChipRemove [attr.aria-label]="'remove ' + s">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-row>
            </mat-chip-grid>
            <div class="mb-3 mt-3">
                <input type="text" formControlName="student" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputFor]="chipGrid" (matChipInputTokenEnd)="add($event)" class="form-control ms-0"
                    placeholder="Enter Student/s ID">
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <div class="mb-3 mt-3">
                <input type="text" id="course-form" (keydown)="onChange($event)" (focus)="onFocus()" list="courses" 
                formControlName="courseName" class="form-control" placeholder="Enter Course Name" autocomplete="off">
            </div>
        </div>
        <div class="data-list shadow p-1" *ngIf="isFocused && courses.length != 0">
            <ul class="elements-list">
                <li (click)="selectCourse(c)" *ngFor="let c of courses">{{c.Name}}</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" [disabled]="!form.valid" class="btn btn-outline-primary custom-button">Create</button>
        </div>
    </div>
</form>