.form-control {
    border-color: var(--color-dark-blue);
    border-width: 2px;
    background-color: var(--color-primary);
}

.form-control:focus {
    box-shadow: none;
    color: var(--color-secondary) !important;
}

.form-control::placeholder {
    color: var(--color-secondary) !important;
}

textarea.form-control {
    resize: none;
    min-height: 150px;
}
.form-check-input{
    font-size: 20px !important;
}