<h1 mat-dialog-title>Edit</h1>
<form class="content" [formGroup]="form" mat-dialog-content>
    <div class="row">
        <div class="col">
            <div class="mb-3 mt-3">
                <input type="text" formControlName="name" class="form-control" placeholder="Enter Name">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex align-items-center">
            <h4>isMasterAdmin: </h4>
            <div class="form-check form-switch ms-4 mb-3">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" (change)="onChange($event)" [checked]="this.isMasterAdmin">
            </div>
        </div>
    </div>
</form>
<div mat-dialog-actions>
    <button mat-button type="submit" [disabled]="!form.valid" (click)="confirm(form.value)"
        class="confirm-button">Confirm</button>
    <button mat-button mat-dialog-close>Cancel</button>
</div>
